<div class="row">
  <div class="col-sm-4">
    <h2>新着アイテム</h2>
    <%= render "items/items", items: @items %>
  </div>
  <div class="col-sm-4">
    <h2>新着ユーザー</h2>
    <%= render "users/users", users: @users %>
  </div>
</div>