<div class="row">
  <div class="col-sm-6">
    <h2>新着Onedari</h2>
    <%= render "items/items", items: @items %>
  </div>
  <div class="col-sm-6">
    <h2>新着ユーザー</label></h2>
    <%= render "users/users", users: @users %>
  </div>
</div>